:root {
  --link-margin: 10px;
  --page-side-padding: 25px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 500px;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/************************
Container
************************/
.container {
  min-width: 500px;
}

/************************
Header
*************************/
.header__link-group li + li {
  margin-left: var(--link-margin);
}

.header__nav {
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
}

/*************************
Main
*************************/

/************************
Footer
************************/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgrey;
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
}

.footer__link-group li + li {
  margin-left: var(--link-margin);
}

/************************
Flexbox
*************************/
.align-items-center {
  align-items: center;
}

.dflex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.list-style-none {
  list-style: none;
}

/*********************
Utilities
**********************/

.margin-right-auto {
  margin-right: auto;
}

.margin-left-auto {
  margin-left: auto;
}

@media only screen and (min-width: 629px) {
  .lg-flex-order-1 {
    order: 1;
  }

  .lg-flex-order-2 {
    order: 2;
  }

  .lg-flex-order-3 {
    order: 3;
  }
}
