* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.dflex {
  display: flex;
}

.list-style-none {
  list-style: none;
}

/*********************
Utilities
**********************/

.margin-left-auto {
  margin-left: auto;
}
