:root {
  /* colors */
  --black: #212121;
  --signin-btn-background: rgb(67, 135, 253);
  --footer-background: lightgrey;

  /* sizes */
  --link-margin: 10px;
  --page-side-padding: 25px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 500px;
  font-family: "Roboto", Arial, sans-serif;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/************************
Container
************************/
.container {
  min-width: 500px;
  height: 100vh;
}

/************************
Header
*************************/
.apps-icon {
  color: grey;
}
.sign-in-button {
  background: var(--signin-btn-background);
  padding: 7px 12px;
  border: 0;
  color: white;
  font-weight: bold;
}
.header__link-group a {
  color: var(--black);
}
.header__link-group li + li {
  margin-left: var(--link-margin);
}

.header__nav {
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
  font-size: 13px;
}

/*************************
Main
*************************/
.search-input {
  border: 1px solid lightgrey;
  border-radius: 50px;
  margin: 20px 0;
  width: 480px;
  padding: 15px;
  outline: none;
}

.search-form .button {
  border: none;
  background-color: whitesmoke;
  padding: 10px 15px;
  font-weight: 100;
}

/************************
Footer
************************/
.footer {
  background-color: var(--footer-background);
  margin-block-start: auto;
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
}

.footer__link-group li + li {
  margin-left: var(--link-margin);
}

/************************
Flexbox
*************************/
.align-items-center {
  align-items: center;
}

.dflex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.list-style-none {
  list-style: none;
}

/*********************
Utilities
**********************/

.margin-right-auto {
  margin-right: auto;
}

.margin-left-auto {
  margin-left: auto;
}

@media only screen and (min-width: 629px) {
  .lg-flex-order-1 {
    order: 1;
  }

  .lg-flex-order-2 {
    order: 2;
  }

  .lg-flex-order-3 {
    order: 3;
  }
}
